@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-link: var(--link);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.94 0.02 45);        
  --foreground: oklch(0.18 0.04 25);        

  --card: oklch(0.98 0.01 50);               
  --card-foreground: var(--foreground);

  --popover: oklch(0.96 0.015 45);        
  --popover-foreground: var(--foreground);

  --primary: oklch(0.42 0.08 35);           
  --primary-foreground: oklch(0.96 0.015 50); 

  --secondary: oklch(0.88 0.025 40);         
  --secondary-foreground: var(--foreground);

  --muted: oklch(0.90 0.02 42);              
  --muted-foreground: oklch(0.38 0.04 28);  

  --accent: oklch(0.62 0.06 38);           
  --accent-foreground: oklch(0.96 0.015 50);

  --link: oklch(53.147% 0.10311 248.863);  
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.card {
  background-color: var(--color-card);
  color: var(--color-card-foreground);
  border-radius: var(--radius-lg);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.primary{
  background-color: var(--color-primary);
  color: var(--color-primary-foreground);
}

.secondary {
  background-color: var(--color-secondary);
  color: var(--color-secondary-foreground);
}



.slide-in-left {
  transform: translateX(-100%);
  opacity: 0; 
  animation: slideInFromLeft 1s ease-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0); 
    opacity: 1;
  }
}

.fade-mask {
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}
